section.main {
  overflow: hidden;
  padding: 0.5em 1.5em;
}

.text-contact {
	padding-top: 0em;
  padding-left: 2.5em;
}

.pano {
  margin-top: -0.5em;
  width: 100%;
  padding: 1px;
  border: 1px solid #021a40;
  background-color: #FFFFFF;
}

.scoot {
  margin-left: 1em;
}

.right {
  margin-left: 5em;
  margin-top: 2em;
}

.click {
   transition:all .25s ease-in-out;
   -moz-transition:all .25s ease-in-out;
   -webkit-transition:all .25s ease-in-out;

  float:left;
  height:30px;
  width:30px;
  margin-left:15px;
  opacity:.5;
}

.click:hover {
   transition:all .25s ease-in-out;
   -moz-transition:all .25s ease-in-out;
   -webkit-transition:all .25s ease-in-out;
  opacity:1;

  margin-top:-10px;
  -webkit-box-shadow:  0px 3px 10px 2px rgba(0, 0, 0, .5);
  box-shadow:  0px 3px 6px 1px rgba(0, 0, 0, .5);
}

.click img {
  margin-top:-10px;
  margin-left:-10px;
}
