nav
    ul
        li
          a.current(href='/', data-hover='Home') Home
        |     
        li
          a(href='/about', data-hover='About') About
        |     
        li
          a(href='/projects', data-hover='Projects') Projects
        |     
        li
          a(href='/contact', data-hover='Contact') Contact
