extends layout

block content
  canvas#canvas
  include partials/header
  
  section.main
    div.row
      div.six.columns
        .text-main
          h1 about me
          h5 Coding skillz:
          li JavaScript
          li HTML / Canvas
          li CSS / SASS / Skeleton
          li Ruby / Rails
          li Java
          li C
          li Node.JS
          li Express / Jade / EJS
          li Mongo / Mongoose
          li AJAX / JSON / APIs
          
          h5 random facts:
          li I have a Bachelor's in Math.
          li I am a photographer.
          li I know all 50 states in alphabetical order.
          li I have two 50lb dogs.
          li I love being outdoors.
          
      div.six.columns
        .hoverimg
          img(src='images/dog_front.jpeg' height="500" alt="dogfront")
          img(src='images/dog_back.jpeg' width='400' alt="dogback")
