extends layout

block content
  canvas#canvas
  include partials/header
  
  section.main
    div.row
      div.six.columns
        .text-main
          h1 about me
          h5 How I Pay My Bills:
          .graph-cont
          span JavaScript
            .bar.bar1 95%
          span Node.JS
            .bar.bar2 95%
          span HTML
            .bar.bar3 95%
          span CSS
            .bar.bar4 95%
          span AngularJS
            .bar.bar5 90%
          span MongoDB
            .bar.bar6 95%
          san PostgreSQL
            .bar.bar7 90%
          span JADE
            .bar.bar8 95%
          span Express
            .bar.bar9 95%
          span OAuth2
            .bar.bar10 90%
          
          h5 random facts:
          li I have a Bachelor's in Math.
          li I am a photographer.
          li I know all 50 states in alphabetical order.
          li I have two 50lb dogs.
          li I love being outdoors.
          
      div.six.columns
        .hoverimg
          img(src='images/dog_front.jpeg' height="500" alt="dogfront")
          img(src='images/dog_back.jpeg' width='400' alt="dogback")
