extends layout

block content
  canvas#canvas
  include partials/header

  section.main
    div.row
      div.twelve.columns
        img.pano(src="http://www.judylinphotography.com/photos/i-Jp6LH3Z/0/X3/i-Jp6LH3Z-X3.jpg" alt="rockymt")
    div.row
      div.twelve.columns
        .text-contact
          h1 Want to stalk me? I'm flattered.
    div.right
      div.row
        div.six.columns
          h6 Find me on them internets:
          a(href='https://www.linkedin.com/in/judylin1' target="_blank")
            .click
              img(src='http://www.bryce-snyder.com/hosted/color/LinkedIn.png', height='50', width='50', alt='linkedin')
          a(href='https://github.com/judylin1' target="_blank")
            .click
              img(src='http://www.bryce-snyder.com/hosted/color/Github.png', height='50', width='50', alt='github')
        div.six.columns
          h6 Send me fan mail (or any type of mail):
          a.scoot(href='mailto:judith.s.lin@gmail.com') Email Me
