extends layout

block content
  canvas#canvas
  include partials/header

  section.main
    div.row
      div.twelve.columns
        img.pano(src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11215185_10100422257469478_7261912376005428525_n.jpg?oh=bdbe1782d0a88ab41ed255ecd794eef9&oe=5619D9A4" alt="rockymt")
    div.row
      div.twelve.columns
        .text-contact
          h1 Want to stalk me? I'm flattered.
    div.right
      div.row
        div.six.columns
          h6 Find me on them internets:
          a(href='https://www.linkedin.com/in/judylin1' target="_blank")
            .click
              img(src='http://www.bryce-snyder.com/hosted/color/LinkedIn.png', height='50', width='50', alt='linkedin')
          a(href='https://github.com/judylin1' target="_blank")
            .click
              img(src='http://www.bryce-snyder.com/hosted/color/Github.png', height='50', width='50', alt='github')
        div.six.columns
          h6 Send me fan mail (or any type of mail):
          a.scoot(href='mailto:judith.s.lin@gmail.com') Email Me
