extends layout

block content
  canvas#canvas
  include partials/header
  
  div.row
    div.four.columns
    div.four.columns
      .proj
        a(href='https://shrouded-ravine-8915.herokuapp.com/')
          img(src='http://i61.tinypic.com/2mpcqht.jpg', alt='superman')
          .textbox
            p.text
              | GitHub
              a(href='https://github.com/judylin1/circle_bounce')
      .proj
        a(href='')
          img(src='http://i61.tinypic.com/2mpcqht.jpg', alt='superman')
          .textbox
            p.text
              | TEXT
              br
              |  Text here Text here
      .proj
        a(href='')
          img(src='http://i61.tinypic.com/2mpcqht.jpg', alt='superman')
          .textbox
            p.text
              | TEXT
              br
              |  Text here Text here
    div.four.columns
