extends layout

block content
  canvas#canvas
  include partials/header
  
  div.row.photos
    div.two.columns
      br
    div.five.columns
      .proj
        img.preview(src='/images/nursebrain.jpeg' alt='nursebrain2')
        .textbox
          p.text
            p Nurse Brain 2
            p Powered by: NodeJS, Express, Crypto, DotENV, Unirest, Jade, CSS, Skeleton, GoodRX API, and FDA API.
            a(href='https://agile-meadow-6335.herokuapp.com/' target="_blank") Demo
            br
            a(href='https://github.com/judylin1/nursebrain2' target="_blank") GitHub
      .proj
        img.preview(src='/images/circlebounce.jpeg' alt='circle_bounce')
        .textbox
          p.text
            p Circle Bounce
            p Powered by: NodeJS, Jade, Express, HTML Canas, JavaScript, and CSS.
            a(href='https://shrouded-ravine-8915.herokuapp.com/' target="_blank") Demo
            br
            a(href='https://github.com/judylin1/circle_bounce' target="_blank") GitHub
    div.four.columns
      .proj
        img.preview(src='/images/tic-tac-toe.jpeg' alt='tic-tac-toe')
        .textbox
          p.text
            p Tic-Tac-Toe
            p Powered by: NodeJS, Jade, Express, HTML Canas, JavaScript, and CSS.
            a(href='https://desolate-hamlet-7335.herokuapp.com/' target="_blank") Demo
            br
            a(href='https://github.com/judylin1/Tic-Tac-Toe' target="_blank") GitHub
      .proj
        img.preview(src='/images/gifs.jpeg' alt='gifs')
        .textbox
          p.text
            p Gif DB
            p Powered by: NodeJS, Express, Monk, Mongo, JavaScript, CSS, and Jade.
            a(href='https://powerful-island-1793.herokuapp.com/' target="_blank") Demo
            br
            a(href='https://github.com/judylin1/markdown-table-processor' target="_blank") GitHub
    div.two.columns
      br
